<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inercia - Phi-sics</title>
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            <h1>Sistema Inercial e Inercia</h1>
        </div>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="sistemaReferencia.html">Sistemas de Referencia</a>
            <a href="inercia.html">Inercia</a>
            <a href="contactanos.html">Contáctanos</a>
        </nav>
    </header>
    <main>
        <section class="principal">
            <h1>Inercia</h1>
            <div class="info">
                <h2>Definición</h2>
                <div class="definicion">
                    <div>
                        <p>
                            La inercia es la propiedad que tienen los objetos de resistir cambios
                            en su estado de movimiento. En otras palabras, un objeto en reposo tiende
                            a permanecer en reposo, y un objeto en movimiento tiende a seguir moviéndose
                            en línea recta y a velocidad constante, a menos que una fuerza externa actúe sobre él.
                        </p>
                        <p>
                            La inercia es la razón por la cual, por ejemplo, cuando un coche frena repentinamente,
                            tu cuerpo tiende a seguir moviéndose hacia adelante. Esto se debe a que tu cuerpo
                            quiere continuar en movimiento a la misma velocidad a la que se desplazaba el coche,
                            debido a la inercia.
                        </p>
                    </div>
                    <img src="../images/auto1.png" alt="Auto frenando" />
                </div>
            </div>
            <div class="info">
                <p>
                    La cantidad de inercia que tiene un objeto está directamente relacionada
                    con su masa: cuanto más masivo es un objeto, más difícil es cambiar su estado
                    de movimiento, ya sea ponerlo en marcha, detenerlo o cambiar su dirección.
                    Por eso, es más fácil empujar una pelota de fútbol que un coche, porque la pelota
                    tiene mucha menos masa y, por lo tanto, menos inercia.
                </p>
                <p>
                    En resumen, la inercia es lo que mantiene a los objetos en su estado actual de
                    movimiento hasta que una fuerza externa los obliga a cambiar.
                </p>
            </div>
            <div class="ejemplos">
                <h2>Ejemplos prácticos:</h2>
                <ul>
                    <li>
                        <div>
                            Frenado brusco en un auto:
                            <p>
                                Cuando estás en un coche que frena repentinamente, sientes que tu cuerpo sigue
                                moviéndose hacia adelante, incluso cuando el coche ya se ha detenido. Esto ocurre porque,
                                debido a la inercia, tu cuerpo tiende a mantener su estado de movimiento a la velocidad
                                que tenía antes de que el coche frenara. Es por eso que usamos cinturones de seguridad,
                                para evitar que la inercia nos haga seguir moviéndonos hacia adelante en caso de un
                                frenado repentino.
                            </p>
                        </div>
                        <div class="img-ejemplo">
                            <img src="../images/inercia1.jpg" alt="Ejemplo de frenado en auto" />
                        </div>
                    </li>
                    <li>
                        <div>
                            Sacar un mantel sin mover los objetos encima:
                            <p>
                                En el truco del mantel, si tiras de él rápidamente, los objetos que están sobre la
                                mesa (platos, cubiertos, etc.) tienden a quedarse en su lugar. Esto se debe a la
                                inercia, que resiste el cambio en el estado de reposo de los objetos. Si el mantel
                                se mueve lo suficientemente rápido, la fricción entre el mantel y los objetos no es
                                suficiente para moverlos, y ellos permanecen en su lugar.
                            </p>
                        </div>
                        <div class="img-ejemplo">
                            <img src="../images/inercia2.png" alt="Ejemplo de sacar mantel" />
                        </div>
                    </li>
                    <li>
                        <div>
                            Mover un objeto pesado:
                            <p>
                                Tratar de empujar un mueble pesado que está en reposo es difícil porque la inercia
                                del objeto resiste el cambio de su estado de reposo. Una vez que logras moverlo,
                                notarás que sigue en movimiento más fácilmente porque la inercia también tiende a
                                mantener el objeto en movimiento una vez que ya está en marcha.
                            </p>
                        </div>
                        <div class="img-ejemplo">
                            <img src="../images/inercia3.jpg" alt="Ejemplo de mover objeto pesado" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="informacion">
                <h3>Más contenido</h3>
                <p>Aquí tienes un video que puede facilitar la comprensión del tema:</p>
                <div class="video">
                    <video controls>
                        <source src="../assets/inercia.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="informacion">
                <h3>Tabla de relación</h3>
                <p>Se muestra la relación entre la variación de la aceleración de un cuerpo respecto a su masa, bajo una misma fuerza:</p>
                <table class="styled-table">
                    <tr>
                        <th>Masa</th>
                        <th>Fuerza</th>
                        <th>Aceleración</th>
                    </tr>
                    <tr class="active-row">
                        <td>1 Kg</td>
                        <td>40 N</td>
                        <td>40 m/s²</td>
                    </tr>
                    <tr>
                        <td>5 Kg</td>
                        <td>40 N</td>
                        <td>8 m/s²</td>
                    </tr>
                    <tr>
                        <td>20 Kg</td>
                        <td>40 N</td>
                        <td>2 m/s²</td>
                    </tr>
                    <tr>
                        <td>50 Kg</td>
                        <td>40 N</td>
                        <td>0.8 m/s²</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; Phi-sics 2024</p>
        </div>
    </footer>
</body>
</html>
