<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistemas de Referencia - Phi-sics</title>
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            <h1>Sistema Inercial e Inercia</h1>
        </div>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="sistemaReferencia.html">Sistemas de Referencia</a>
            <a href="inercia.html">Inercia</a>
            <a href="contactanos.html">Contáctanos</a>
        </nav>
    </header>
    <main>
        <section class="principal">
            <h1>Sistemas de Referencia</h1>
            <div class="info">
                <h2>Introducción</h2>
                <p>
                    En este espacio, desglosamos los conceptos esenciales que describen
                    cómo se mueven y comportan los cuerpos en el espacio. Un sistema de
                    referencia es esencial para entender y describir la posición y el movimiento relativo
                    de los objetos, mientras que la inercia nos ayuda a entender el comportamiento de los
                    cuerpos cuando no actúan fuerzas sobre ellos. A través de explicaciones claras y
                    ejemplos prácticos, te acompañaremos en un viaje de descubrimiento, donde comprenderás
                    cómo estos principios son fundamentales no solo en la física clásica, sino también
                    en aplicaciones modernas en la ingeniería y otros campos científicos.
                </p>
            </div>
            <div class="info">
                <h2>Definición</h2>
                <p>
                    Un sistema de referencia es como un marco imaginario que usamos para describir
                    dónde está y cómo se mueve algo en el espacio y en el tiempo. Es una manera de
                    fijar un "punto de vista" desde el cual medimos la posición y el movimiento de los objetos.
                </p>
                <p>
                    Por ejemplo, imagina que estás en un coche que toma una curva a gran velocidad.
                    Aunque no hay ninguna fuerza que te empuje hacia un lado, sientes como si una fuerza
                    invisible te estuviera lanzando hacia la puerta del coche. Esta sensación es el
                    resultado de estar en un sistema de referencia no inercial, ya que el coche está
                    acelerando al cambiar de dirección. Para explicar por qué te sientes empujado hacia
                    un lado, se introduce la idea de una fuerza ficticia, como la fuerza centrífuga.
                </p>
                <p>
                    Entender los sistemas de referencia nos ayuda a describir y predecir el movimiento
                    de los objetos dependiendo de dónde y cómo los estemos observando.
                </p>
                <video controls>
                    <source src="../assets/sistemaReferencia.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="info">
                <h2>Tipos de Sistemas de Referencia</h2>
                <p>
                    Existen diferentes tipos de sistemas de referencia, y se pueden clasificar en dos
                    categorías principales: sistemas de referencia inercial y sistemas de referencia
                    no inercial.
                </p>
            </div>
            <div class="ejemplos">
                <div class="tipo">
                    <div>
                        <h2>Sistema Inercial</h2>
                        <p>
                            Un sistema de referencia inercial es un marco de observación en el que las leyes de
                            la física, especialmente las de la mecánica de Newton, se aplican de manera sencilla
                            y directa. En este tipo de sistema, un objeto en reposo permanecerá en reposo, y
                            un objeto en movimiento seguirá moviéndose en línea recta y a velocidad constante,
                            a menos que una fuerza externa actúe sobre él.
                        </p>
                    </div>
                    <div class="img-ejemplo">
                        <img src="../images/sistemaInercial.jpg" alt="Ejemplo de sistema inercial" />
                    </div>
                </div>
            </div>
            <div class="ejemplos">
                <div class="tipo">
                    <div>
                        <h2>Sistema No Inercial</h2>
                        <p>
                            Un sistema de referencia no inercial es un marco de observación que está acelerando
                            o cambiando de dirección, lo que significa que no sigue un movimiento rectilíneo a
                            velocidad constante. En estos sistemas, las leyes de la física no se aplican de manera
                            tan directa como en los sistemas inerciales. Para explicar el movimiento de los objetos
                            dentro de un sistema no inercial, es necesario introducir fuerzas ficticias, que no
                            existen realmente pero que parecen actuar debido a la aceleración del sistema.
                        </p>
                        <p>
                            Por ejemplo, si estás en un tren en movimiento y miras por la ventana, tu sistema
                            de referencia sería el tren. Desde tu perspectiva, los árboles afuera parecen moverse
                            hacia atrás. Pero, si alguien está parado en el suelo afuera del tren, para ellos, los
                            árboles están quietos y el tren se está moviendo. Ambos están viendo el mismo
                            escenario, pero desde diferentes sistemas de referencia.
                        </p>
                    </div>
                    <div class="img-ejemplo">
                        <img src="../images/sistemaNoInercial.jpg" alt="Ejemplo de sistema no inercial" />
                    </div>
                </div>
            </div>
            <div class="info">
                <table>
                    <thead>
                        <tr>
                            <th>Sistema de Referencia</th>
                            <th>Definición</th>
                            <th>Ejemplos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sistema Inercial</td>
                            <td>Sistema de coordenadas en el cual los cuerpos se mueven de manera uniforme</td>
                            <td>Habitación, el planeta, tren a velocidad constante</td>
                        </tr>
                        <tr>
                            <td>Sistema No Inercial</td>
                            <td>Es aquel que no mantiene una velocidad constante</td>
                            <td>Barco, Autobús, juego mecánico "Chicago"</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; Phi-sics 2024</p>
        </div>
    </footer>
</body>
</html>
